.App{
  display: grid;
  width: 1200px;
  grid-template-columns: 
  "h h"
  "n c";
  margin: 0 auto;
}

.Header{
  grid-area: h;
  background-color: green;
}
.Header img{
  width: 56px;
}
.nav{
  grid-area: n;
}
.content{
  grid-area: c;
  background-color: green;
}